################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cdjs-home-management/ClientApp/src/app/login/login.component.min.css
/cdjs-home-management/ClientApp/src/app/login/login.component.css
/cdjs-home-management/ClientApp/src/app/home/home.component.min.css
/cdjs-home-management/ClientApp/src/app/home/home.component.css
/cdjs-home-management/site.txt
/cdjs-home-management/GlobalSuppressions.cs
/cdjs-home-management/appsettings.json
/cdjs-home-management/appsettings.Development.json
/cdjs.entities/bin
/cdjs.entities/obj
