.app-landing-page--main-container {
  background-color: red;
  width: 50%;
  height: 50%;
}
.app-landing-page--title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
}
.app-landing-page--Users-detail-container {
  display: flex;
  flex-direction: row;
}
.app-landing-page--Users-table {
  display: block;
}
.app-landing-page--Users-task {
  display: block;
  width: 400px;
  height: 400px;
  background-color: aquamarine;
}
.app-landing-page--Users-detail-container > div {
  padding-left: 20px;
  padding-right: 20px;
}
