app-landing-page--main-container {
  background-color: red;
  width: 50%;
  height: 50%;
}
app-landing-page--title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}
app-landing-page--title_text {
  text-align: center;
}