<div>
  <mat-toolbar>
    <label class="app-landing-page--title"> Home Page</label>
  </mat-toolbar>
</div>
<br />
<div class="app-landing-page--Users-detail-container">
  <div class="app-landing-page--Users-table">
    <table class="table">
      <thead>
        <tr>
          <td>User Name</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email Address</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of allUsers">
          <td>{{users.userName}}</td>
          <td>{{users.firstName}}</td>
          <td>{{users.lastName}}</td>
          <td>{{users.emailAddress}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="app-landing-page--Users-task">
    <app-task-view></app-task-view>
  </div>
</div>
